<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Edit Record</h1>
    </div>
  </div>
  <%= form_for @log do |f| %>
    <div class="row">
      <div class="form-group col-sm-3">
        <%= f.label :record_id %>
        <%= f.collection_select(:record_id, Record.current_students, :id, :first, {}, { class: "form-control" }) %>
      </div>
      <div class="form-group col-sm-3">
        <%= f.label :teacher_id %>
        <%= f.collection_select(:teacher_id, Teacher.all, :id, :first, {}, { class: "form-control" }) %>
      </div>
      <div class="form-group col-sm-3">
        <%= f.label :subject_id %>
        <%= f.collection_select(:subject_id, Subject.all, :id, :subject, {}, { class: "form-control" }) %>
      </div>
      <div class="form-group col-sm-3">
        <%= f.label :date %>
        <%= f.date_field :date, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.submit "Edit Log", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
