<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Homeschool Log <%= link_to "New Entry", new_log_path, class: "btn btn-primary btn-xs" %></h1>
      <p class="lead">
      <% @student_counts.each do |count| %>
        <%= count.first %>: <%= count.count %>/180<%= ' | ' unless count == @student_counts.last %>
      <% end %>
      </p>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Student</th>
            <th>Subject</th>
            <th>Teacher</th>
            <th>Date</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        <% @logs.each do |log| %>
          <tr>
            <td><%= log.record.student.first %></td>
            <td><%= log.subject.subject %></td>
            <td><%= log.teacher.first %></td>
            <td><%= log.date %></td>
            <td>
              <div class="pull-right">
                <%= link_to edit_log_path(log.id) do %><i class="fa fa-pencil-square fa-lg"></i> Edit Entry<% end %>
                <% if log.book %><br><%= link_to edit_book_path(log.book.id) do %><i class="fa fa-pencil-square fa-lg"></i> Edit Book<% end %><% end %>
              </div>
              <% if log.book %>&ldquo;<%= log.book.title %>&rdquo; by <%= log.book.author %><br><% end %>
              <%= simple_format(log.description) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
